<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorWslmplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/sa_soap_ws_demo/calculatorWebService"
                binding="basicHttpBinding" bindingConfiguration="CalculatorWslmplPortBinding"
                contract="CalculatorService.CalculatorWslmpl" name="CalculatorWslmplPort" />
        </client>
    </system.serviceModel>
</configuration>